body{
font-family: Arial, sans-serif;
margin:0;
background:linear-gradient(to right,#74ebd5,#ACB6E5);
}

header{
background:#1f2937;
color:white;
text-align:center;
padding:40px;
}

header h1{
font-size:40px;
}

nav{
background:#111827;
text-align:center;
padding:15px;
}

nav a{
color:white;
margin:20px;
text-decoration:none;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:#22c55e;
}

.container{
padding:40px;
max-width:1000px;
margin:auto;
}

.card{
background:white;
padding:25px;
margin:20px 0;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

footer{
background:#111827;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
