body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

header{
background:#2c3e50;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#34495e;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

.content{
padding:30px;
}

footer{
background:#2c3e50;
color:white;
text-align:center;
padding:15px;
}
